$purple: #49236e;
$white: #ffffff;
$red: #f24b59;
$blue: #2c3b59;
$green: #50f296;
$yellow: #f5900e;
$black: #141a26;
$grad_1: #642653;
$grad_2: #081333;

$home-ht: 937px;
$section-ht: 703px;
$container-wt: 1600px;
